Schemas/20190117_ED807.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cbr-ru:ed:v2.0" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ED807">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="BICDirectoryEntry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ParticipantInfo">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="RstrList">
                      <xs:complexType>
                        <xs:attribute name="Rstr" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="4"></xs:maxLength>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="RstrDate" type="xs:date" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="NameP" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="100"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Rgn" type="xs:integer" use="required" />
                  <xs:attribute name="Ind" type="xs:integer" use="required" />
                  <xs:attribute name="Tnp" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="9"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Nnp" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="25"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Adr" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="100"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="PrntBIC" type="xs:integer" use="optional" />
                  <xs:attribute name="DateIn" type="xs:date" use="required" />
                  <xs:attribute name="PtType" type="xs:integer" use="required" />
                  <xs:attribute name="Srvcs" type="xs:integer" use="required" />
                  <xs:attribute name="XchType" type="xs:integer" use="required" />
                  <xs:attribute name="UID" type="xs:integer" use="required" />
                  <xs:attribute name="NPSParticipant" type="xs:integer" use="required" />
                  <xs:attribute name="ParticipantStatus" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="4"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="RegN" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="10"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="CntrCd" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="2"></xs:maxLength>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Accounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AccRstrList">
                      <xs:complexType>
                        <xs:attribute name="AccRstr" type="xs:string" use="required" />
                        <xs:attribute name="AccRstrDate" type="xs:date" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Account" type="xs:string" use="required" />
                  <xs:attribute name="RegulationAccountType" type="xs:string" use="required" />
                  <xs:attribute name="CK" type="xs:string" use="required" />
                  <xs:attribute name="AccountCBRBIC" type="xs:integer" use="required" />
                  <xs:attribute name="DateIn" type="xs:date" use="required" />
                  <xs:attribute name="AccountStatus" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="BIC" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EDNo" type="xs:string" use="required" />
      <xs:attribute name="EDDate" type="xs:date" use="required" />
      <xs:attribute name="EDAuthor" type="xs:string" use="required" />
      <xs:attribute name="CreationReason" type="xs:string" use="required" />
      <xs:attribute name="CreationDateTime" type="xs:dateTime" use="required" />
      <xs:attribute name="InfoTypeCode" type="xs:string" use="required" />
      <xs:attribute name="BusinessDay" type="xs:date" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>